.pageBannerSec {
  position: relative;
  height: 316px;
  display: block;
}
.pageBannerWrapper {
  display: flex;
  flex-direction: column; /* Stack vertically */
  justify-content: center;
  align-items: center;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  gap: 16px; /* Space between items */
}
.pageBannerSec::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../../assets/images/pagesBanner.webp");
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.bannerLogo {
  width: 80px; /* Adjust size as needed */
  height: auto;
  margin-bottom: 8px;
}

.bannerHeading {
  font-size: 48px;
  color: #3a3a3a;
  font-weight: 500;
  margin-bottom: 8px;
  text-align: center;
}

.bannerPara {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
  width: auto;
  margin: 0 auto;
  font-size: 16px;
}

.arrow {
  font-size: 16px;
  color: #000000;
  font-weight: bold;
}

.home, .para {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
  margin: 0;
}
