.imageGalleryHeading {
  text-align: center;
  font-size: 40px;
  color: #3a3a3a;
  margin-bottom: 40px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 200px;
  gap: 10px;
  justify-items: center;

}

.image-grid img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
}

/* Positioning images manually for the exact layout */
.image-grid img:nth-child(1) {
  grid-column: 1 /2;
  grid-row: 1 / 3;
}
.image-grid img:nth-child(2) {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}
.image-grid img:nth-child(3) {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
}
.image-grid img:nth-child(4) {
  grid-column: 5 / 7;
  grid-row: 1 / 2;
}
.image-grid img:nth-child(5) {
  grid-column: 5 / 7;
  grid-row: 2 / 3;
}
.image-grid img:nth-child(6) {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
.image-grid img:nth-child(7) {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}
.image-grid img:nth-child(8) {
  grid-column: 3/ 4;
  grid-row: 3 / 4;
}
.image-grid img:nth-child(9) {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}
