.bannerSec {
  position: relative;
  height: 950px;
}
.bannerSec::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../../assets//images//banner-bg-img.webp");
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-position: center;
  z-index: -1;
}

.bannerSecWrapper {
  max-width: 700px;
  width: 100%;
  height: 543px;
  background-color: #fff3e3;
  position: absolute;
  right: 60px;
  top: 230px;
  padding: 62px 43px 37px 39px;
}

.newArrivalPara {
  margin-bottom: 4px;
  font-size: 14px;
}

.collectionHeading {
  font-size: 52px;
  font-weight: bold;
  color: #b88e2f;
}
.collectionPara {
  font-size: 18px;
  color: #333333;
  font-weight: medium;
  margin: 17px 0 46px 0;
}

.buyNowBtn {
  padding: 25px 72px;
  background-color: #b88e2f;
  color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.rangeSecWrapper {
  padding: 56px 0;
  text-align: center;
}
.rangeSecWrapper .rangeSecHeading {
  font-size: 32px;
  color: #3a3a3a;
}
.rangeSecPara {
  color: #333333;
}
.rangeItems {
  display: flex;
  justify-content: space-between;
  margin-top: 62px;
}
.rangeItemLink {
  text-decoration: none;
}
.ranfeItemsName {
  font-size: 24px;
  color: #333333;
  font-weight: 400;
}
.ourProductsSec {
  padding: 0 0 69px 0;
}
.roomInspirationSec{
  background-color: #FCF8F3;
  padding: 44px 0;
}