.signupPageImage{
    position: absolute;
    right: 0;
    top: 0;
    min-width: 100vh;
    width: 100%;
    height: 100vh;
    object-fit: contain;
    object-position: right center;
}
.signupFormWrapper{
    position: absolute;
    margin-left: 128px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    height: 100vh;
}
.signupForm{
    max-width: 403px;
    width: 100%;
}
.signupHeading{
    margin-bottom: 40px;
}
.inputField{
    margin: 0 0 20px 0;
}
.signupButton{
  width: 100%;
  padding: 12px;
  margin: 24px 0 12px 0;
  cursor: pointer;
  background-color: #0062ff;
  border: none;
  color: #ffffff;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid  transparent;
}
.signupButton:hover{
    border: 1px solid #0062ff;
    background-color: #FFFFFF;
    color: #0062ff;
}